/* defaults */
a, abbr, acronym, address, applet, b, big, blockquote, button, canvas,
caption, center, cite, code, body, dd, del, dfn, div, dl, dt, em, embed,
fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, html, i, iframe, img,
ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small,
span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

html {
	scrollbar-face-color: #444444;
	scrollbar-arrow-color: #222222;
	scrollbar-highlight-color: #444444;
	scrollbar-3dlight-color: #222222;
	scrollbar-shadow-color: #444444;
	scrollbar-darkshadow-color: #222222;
	scrollbar-track-color: #222222;
	/* padding: 2em; */
}

::-webkit-scrollbar {
	width: 20px;
	height: 20px;
	background-color: #222222;
}
/*
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment	{
height: 20px;
display: block;
background-color: #555555;
}
*/

::-webkit-scrollbar-thumb {
	background: #555555;
	width: 20px;
	-webkit-border-radius: 5px;
	height: 100px;
}

::-webkit-scrollbar-track {
background-color: inherit;
}


body {
	margin: 0;
	padding: 8px;
	background: black url('http://assets.bad-dragon.com/images/background2.jpg') repeat;

	font-family: 'verdana', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	color: white;

}


/*
	========================================
	SITE-WIDE STYLES
	========================================
*/


a, .link {
	color: white;
	text-decoration: underline;
	font-style: normal;
	cursor: pointer;
}
/*
a:visited {
	color: #bbb;
	text-decoration: underline;
	font-style: normal;
}
*/

.strikeout {
	text-decoration:line-through;
}

a:hover,
.link:hover,
a:active,
.link:active {
	color: #c33;
	text-decoration: underline;
	font-style: normal;
}

	.buttonlink {
		/* a button-like link. not-only links (a) can become this. */
		display: inline-block;
		/*margin: 0 5px;*/
		padding: 2px 6px 3px 6px;
		color: #ccc;
		background: #333;
		border: 1px solid black;
		text-align: center;
		text-decoration: none;
		vertical-align: baseline;
		cursor: pointer;
	}

		.buttonlink:hover,
		.buttonlink:active {
			color: #1a1a1a;
			background: #ccc;
		}

	a img {
		border: none;
	}

.keyword {
	/* used to emphasise 'keywords' in text,
	 * e.g. the 'Hello.' in the cart area */
	color: #c33;
}



.strikeout { text-decoration:line-through;	}


/*
	========================================
	CONTENT
	========================================
*/


#sitearea {
	width: 970px;
	/* height: 465px; */
	margin: 0 auto;
}


#top {
	width: 970px;
	height: 82px;
}


#top #logo {
	float: left;
}


#top #logo p a {
	border: none;
	text-decoration: none;
}


#top #logo p a img {
	width: 295px;
	height: 82px;
}


#top #custarea {
	float: right;
	/* position: relative;
	top: -82px;
	left: -10px; */

	width: 665px;
	height: 82px;

	background-image: url('http://assets.bad-dragon.com/images/custarea_bg.png');
	background-repeat: no-repeat;
}

#top #custarea p {
	margin: 0;
	margin-top: 28px;
}

#top #custarea #cart {
	float: right;

	margin: 0;
	margin-right: 10px;

	min-width: 110px;

	position: relative;

	top: 20px;
}

#top #custarea #cart p {
	margin: 0;
}

#top #custarea #cart p a {
	display: block;

	margin: 0;
	padding: 4px 0 0 45px;

	background-color: transparent;
	background-image: url('http://assets.bad-dragon.com/images/carticon.png');
	background-repeat: no-repeat;

	height: 36px;
}

#top #custarea #cart p a.cart_full{
    display: block;

    margin: 0;
    padding: 4px 0 0 45px;

    background-color: transparent;
    background-image: url('http://assets.bad-dragon.com/images/carticon_full.png');
    background-repeat: no-repeat;

    height: 36px;
}

#top #custarea #cart p a:hover,
#top #custarea #cart p a:active {
    background-image: url('http://assets.bad-dragon.com/images/carticon_h.png');
    background-repeat: no-repeat;
}

#top #custarea #cart p a.cart_full:hover,
#top #custarea #cart p a.cart_full:active{
	background-image: url('http://assets.bad-dragon.com/images/carticon_full_h.png');
	background-repeat: no-repeat;
}

#top #custarea #account {
	float: right;

	margin: 0;
	margin-right: 50px;

	position: relative;

	top: 15px;
}

#top #custarea #account p {
	margin: 5px 0;
}

#top #custarea #account p a.emphasis {
	font-weight: bold;
	font-size: 120%;
}

#contentarea {
	margin: 0;
	padding: 0;

	width: 970px;

	min-height: 465px;

	position: relative;
}



#footnote {
	margin: 0;
	padding: 0;
}

#footnote hr {
	display: none;
}

#footnote p {
	margin: 15px;
	text-align: right;
	font-size: 10px;
}

#footnote a {
	color: #ccc;
}

#footnote p #fnlinks a:hover,
#footnote p #fnlinks a:active {
	color: #c33;
}

#content {
	background: none repeat scroll 0 0 #1A1A1A;
	border: 3px solid #333333;
	margin: 0;
	min-height: 419px;
	padding: 20px 65px;
	position: relative;
	margin-left: 217px;
}


	#content.full {
		/* used when there's no sidebar, e.g. checkout pages */
		margin-left: 0;
	}

	#content .error {
		/* general error */
		/* padding: 5px; */ /* varka edit, rolls onto multiple lines properly now */
		background: #661a1a;
	}

    #content .bigerror {
        background: #661a1a;
        padding: 10px;
        font-size: 150%;
        font-style: normal;
        font-weight: bold;
    }

	#content .validation-error {
		background: #661a1a;
		padding: 8px;
		line-height: 0.5em;
	}

	#content .success {
		/* general success message */
		padding: 5px;
		background: #115511;
	}

	#content p {
		margin: 5px 0 15px;
	}

		#content p.indent {
			margin-left: 20px;
		}

		#content p.listcaption {
			margin-bottom: 0;

			font-weight: bold;
		}

	#content h1 {
		margin: 10px 0 25px;

		font-size: 160%;
		font-weight: bold;
		font-style: normal;
	}

		#content h1 img {
			vertical-align: middle;
		}

		#content h1 img.leftmost {
			margin-right: 20px;
		}

	#content h2 {
		margin: 20px 0 10px;

		font-size: 140%;
		font-weight: bold;
		font-style: normal;

		color: #E33;
	}

	#content h3 {
		margin: 10px 0 5px;

		font-size: 125%;
		font-weight: bold;
		font-style: normal;
	}

	#content table {
		margin: 10px 0;
		padding: 0;

		/* border-spacing: 1px 0; */
		border-collapse: collapse;
	}

		#content table tr th {
			text-align: left;

			font-weight: bold;
			font-style: normal;
		}

		#content table tr td {
			text-align: left;

			font-weight: normal;
			font-style: normal;
		}


		#content table tr td,
		#content table tr th {
			padding: 2px 6px;
		}


		table.divided tbody {
			background-color: #262626;
		}

		table.divided tbody th:nth-child(2n)
		{
			background-color: rgba(255,255,255,0.05);
		}

		table.divided tbody tr:nth-child(2n) {
			background-color: rgba(255,255,255,0.08);
		}

		table.divided tbody tr td:nth-child(2n) {
			background-color: rgba(255,255,255,0.05);
		}





		#content table tr.odd td.odd,
		#content table tr.odd th.odd {
			background: #333;
		}

		#content table tr.odd td.even,
		#content table tr.odd th.even {
			background: #444;
		}

		#content table tr.even td.odd,
		#content table tr.even th.odd {
			background: #262626;
		}

		#content table tr.even td.even,
		#content table tr.even th.even {
			background: #2f2f2f;
		}

	#content ul {
		margin: 5px 0;
		padding: 0 0 0 10px;

		list-style-type: disc;
		list-style-image: url('http://assets.bad-dragon.com/images/list_image.png');
		list-style-position: outside;
	}

		#content ul li {
			margin: 4px 0;
			padding: 0;
		}


#content #singlefeat {
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;

	font-size: 115%;
}

#content #halffeatleft {
	top: 2px;
	right: 376px;
	bottom: 2px;
	left: 2px;

	font-size: 115%;
}

#content #halffeatright {
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 376px;

	font-size: 115%;
}

#content #splitfeatbig {
	top: 2px;
	right: 200px;
	bottom: 2px;
	left: 2px;

	font-size: 115%;
}

#content #splitfeatbig span {
	display:none !important;
}

#content #splitfeatright {
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 552px;
}

#content #splitfeatrtop {
	top: 2px;
	right: 2px;
	bottom: 315px;
	left: 552px;
}

#content #splitfeatrtop a .desc {
	padding: 5px 10px 7px 10px;
	font-family: sans-serif;
	top: 80%;
}

#content #splitfeatrbottom {
	top: 150px;
	right: 2px;
	bottom: 2px;
	left: 552px;
}

#content #splitfeatrbottom a .desc {
	padding: 5px 10px 7px 10px;
	font-family: sans-serif;
	top: 92%;
}

#content .feature {
	margin: 0;
	padding: 0;

	position: absolute;

	background: #1a1a1a;

	overflow: hidden;
}

#content .feature a {
	display: none;

	position: absolute;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	color: white;
	text-decoration: none;

	overflow: hidden;
}

#content .feature a img {
	display: block;

	position: absolute;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#content .feature a .desc {
	display: block;

	margin: 0;
	padding: 7px 20px 9px 25px;

	position: absolute;

	top: 62.5%;
	left: 0px;

	background-color: transparent;
	background-image: url('http://assets.bad-dragon.com/images/lightbox_overlay.png');
	background-repeat: repeat;
}

#content .feature a:hover .desc,
#content .feature a:active .desc {
	background-image: url('http://assets.bad-dragon.com/images/lightbox_overlay2.png');
	background-repeat: repeat;

	color: #ccc;
}

#content .feature .slidenav {
	margin: 0;
	padding: 3px 7px 5px 7px;

	position: absolute;

	top: 0;
	right: 0;

	z-index: 50;

	color: #ccc;

	background-color: transparent;
	background-image: url('http://assets.bad-dragon.com/images/lightbox_overlay2.png');
	background-repeat: repeat;
}

#content .feature .slidenav .loading-image {
	margin: 0 2px -2px 0;
	padding: 0;
}

#content .feature .slidenav a {
	display: inline;

	margin: 0 2px;
	padding: 0 2px 2px;

	position: static;

	color: #999;
	text-decoration: none;
}

#content .feature .slidenav a.selected {
	color: white;

	background: #222;
	/* font-weight: bold; */
}

#content .feature .slidenav a:hover,
#content .feature .slidenav a:active {
	color: #c33;
}

/**** PAGE-SPECIFIC STYLES ****/
/* below are unique styles for different kinds of content areas */

#sidebar {
	margin: 0;
	padding: 40px 30px;

	background: #333;

	position: absolute;
	top: 0;
	left: 0;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 200px;
	/*background-image: url('http://assets.bad-dragon.com/images/sidebar.jpg');
	height: 385px;*/
}
	#sidebar a {
		text-decoration: none;
	}

	#sidebar.store {
		padding: 10px 30px;

		height: 445px;
	}

		#sidebar.store h1 {
			font-size: 140%;
		}

		#sidebar.store h2 {
			margin: 13px 0 7px;
			padding: 0;

			color: #bbb;

			font-size: 110%;
			font-weight: normal;
			font-style: normal;
		}

		#sidebar.store .optgroup {
			margin: 0 -20px 0 0;
			padding: 0 0 0 12px;
		}

			#sidebar.store .optgroup p {
				margin: 1px 0;
			}

				#sidebar.store .optgroup p input {
					margin: 0 12px 0 0;
					padding: 0;

					vertical-align: middle;
				}

			#sidebar.store .optgroup .ratingopt {
				margin: 0 2px 0 0;
				padding: 0;

				display: inline-block;

				text-align: center;
			}

				#sidebar.store .optgroup .ratingopt input {
					display: block;

					margin: 2px 0;
					padding: 0;
				}

	#sidebar ul#nav {
		list-style-type: none;
		padding: 0;
		margin: 0 10px;
		font-size: 125%;
	}

		#sidebar ul#nav li {
			margin: 0 0 15px;
			padding: 0;
		}

			#sidebar ul#nav li.emphasis {
				font-size: 135%;
				margin-bottom: 30px;
			}

	#sidebar h1 {
		/* product name */
		margin: 20px 0 15px;

		font-size: 130%;
		font-weight: bold;
		font-style: normal;
	}

	#sidebar #rating {
		margin: 10px 0;
	}

		#sidebar #rating p {
			margin: 5px 0;
		}

			#sidebar #rating p #starrating {
				width: 77px;
				height: 13px;
			}

	#sidebar table {
		margin: 20px auto;
		padding: 0;

		border: none;

		font-size: 80%;
	}

		#sidebar table td.ratingbar {
			background: #cbb;
			width: 65px;
			padding: 0;
		}

			#sidebar table td.ratingbar .bar {
				background: #c66;
				width: 60px;
				height: 100%;
			}










/**** MESSAGE BOX STYLING ****/

#mbox-overlay {
	display: none;

	position: absolute;

	top: 0;
	left: 0;

	width: 100%;

	background-color: transparent;
	background-image: url('http://assets.bad-dragon.com/images/lightbox_overlay.png');
	background-repeat: repeat;

	z-index: 100;
}

#messagebox {
	display: none;

	margin: 0;
	padding: 10px;

	position: absolute;

	max-width: 600px;

	z-index: 125;

	background: #333;
	border: 1px solid black;
}

	#messagebox #mbox-caption {
		margin: -10px -10px 10px;
		padding: 5px 15px;

		background: #1a1a1a;

		font-weight: bold;
		text-align: left;

		border-bottom: 1px solid black;
	}

	#messagebox #mbox-message {
		margin: 15px 5px 20px;
		padding: 0;
	}

	#messagebox #mbox-buttons {
		margin: 15px auto 0;
		padding: 0;

		text-align: center;
	}

#messagebox #mbox-buttons a.button {
	display: inline-block;

	margin: 0 5px;
	padding: 5px 6px 4px 6px;

	width: 75px;

	color: #ccc;

	background: #1a1a1a;
	border: 1px solid black;

	text-align: center;
	text-decoration: none;

	vertical-align: baseline;
}

#messagebox #mbox-buttons a.button:hover,
#messagebox #mbox-buttons a.button:active {
	color: #1a1a1a;
	background: #ccc;
}




/*
	========================================
	STORE VIEW
	========================================
*/

	#content.store {
		/* used on the store */
		padding: 50px 20px 20px;

		min-height: 389px;
	}

	#content #sortby {
		margin: 0;
		padding: 0;

		position: absolute;

		top: 10px;
		right: 20px;
	}

		#content #sortby p {
			margin: 5px 0;
			padding: 0;
		}

	#content #storeloading {
		display: none;

		margin: 20px auto;
		width: 300px;

	}

		#content #storeloading img {
			margin: 0 0 0 5px;
			padding: 0;
			vertical-align: middle;
		}

	#content #prodlist {
		margin: 0;
		padding: 0;

		overflow: auto;
	}

	#prodlist .product-category {
		color: white !important;
		display:block !important;
		font-size: 22px !important;
		font-weight:bold !important;
		clear:both !important;
	}

		#content #prodlist .product {
			margin: 10px 14px;
			padding: 0;

			float: left;
		}

			#content #prodlist .product a {
				display: block;

				margin: 0;
				padding: 5px;

				width: 102px;
				height: 160px;

				text-align: center;
				text-decoration: none;
			}

				#content #prodlist .product a:hover,
				#content #prodlist .product a:active {
					background: #fcc;
				}

				#content #prodlist .product a:hover img,
				#content #prodlist .product a:active img {
					border-color: black !important;
				}

				#content #prodlist .product a img {
					display: block;

					margin: 0 auto 5px;
					padding: 0;
				}

					#content #prodlist .product a img.prodimg {
						border: 1px solid #666;

						width: 100px;
						height: 100px;
					}



/*
	========================================
	SIGN IN
	========================================
*/


#content ul.radiogroup {
	margin: 10px 0 10px 20px;
	padding: 0;

	list-style-type: none;
	list-style-image: none;
}

	#content ul.radiogroup li {
		margin: 2px 0;
		padding: 0;

		min-height: 25px;
	}

		#content ul.radiogroup li input[type="text"],
		#content ul.radiogroup li input[type="password"] {
			vertical-align: middle;
		}

		#content ul.radiogroup li #passworderror {
			display: none;
		}



/*
	========================================
	REGISTER
	========================================
*/

	#content .custdata {
		margin-left: 0;
	}

		#content .custdata th,
		#content .custdata td {
			height: 28px;
		}

		#content .custdata th {
			padding: 2px 2px 2px 0;

			width: 180px;

			font-weight: normal;
			text-align: right;
		}

		#content .custdata td {
			padding: 0 2px;
		}

			#content .custdata td.fieldstatus {
				padding-left: 24px;

				visibility: hidden;

				background-color: transparent;
				background-image: url('http://assets.bad-dragon.com/images/check.png');
				background-repeat: no-repeat;
				background-position: center left;
			}

				#content .custdata td.fieldstatus #revalidateuser {
					display: none;
				}

				#content .custdata td.error {
					color: #f99;

					background-color: transparent;
					background-image: url('http://assets.bad-dragon.com/images/cross.png');
					background-repeat: no-repeat;
					background-position: center left;
				}

				#content .custdata td.error2 {
					color: #fcc;

					background-color: #441a1a;
					background-image: url('http://assets.bad-dragon.com/images/cross_bright.png');
					background-repeat: no-repeat;
					background-position: center left;
				}

				#content .custdata td.pending {
					padding-left: 0;
					color: #999;
					background: transparent;
					font-style: italic;
				}

				#content .custdata td.pending2 {
					padding-left: 0;
					color: #ccc;
					background: #333;
					font-style: italic;
				}

	#content a#registerbtn {
		display: block;

		margin: 20px 0 0 184px;
		padding: 5px 9px 7px 9px;

		width: 180px;

		background: #933;
		border: 1px solid black;

		position: relative;

		color: #fff;

		font-weight: bold;
		font-size: 125%;
		text-align: center;
		text-decoration: none;
	}

		#content a#registerbtn:hover,
		#content a#registerbtn:active {
			background: #fcc;
			color: #c33;
		}

		#content a#registerbtn .arrow {
			position: absolute;

			top: 5px;
			right: 9px;
		}

			#content a#registerbtn .arrow#signinarrow {
				display: none;
			}






/*
	========================================
	SALES
	========================================
*/



/* Keeps the sale image at the top of the view sale page from spilling out */
#content .salesimage {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

}
#content .floatright {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;

}

.fieldname {
	float: left;
	font-weight: 800;
}

.fieldvalue {
	float: left;
}

.salestatus {
	color:#F00;
	font-weight: 800;
}


/*
	========================================
	Inventory
	========================================
*/
#inventorylist table {
    font-size: 12px;
    width: 100%;

}

#inventorylist tr.odd td.odd {
    background-color: #333333;
}
#inventorylist tr.odd td.even {
    background-color: #444444;
}

#inventorylist tr.even td.odd {
    background-color: #262626;
}
#inventorylist tr.even td.even {
    background-color: #2F2F2F;
}

#inventorylist th.odd {
   background-color: #262626;
}
#inventorylist th.even {
    background-color: #2F2F2F;
}
#inventorylist form {
    margin-bottom: 0px;
}




/*
	========================================
	CART
	========================================
*/



#content.cart {
	/* used on the cartview page */
	padding-right: 20px;
}

#content #carttop {
	position: absolute;

	top: 37px;
	right: 280px;
}

	#content #carttop #subtotal {
		font-size: 120%;
		font-weight: bold;
	}


#content #checkout {
	margin: 0;
	padding: 0;

	position: absolute;

	top: 35px;
	right: 20px;
}

a#shop_moar {
	width: 200px;
	float: left;
}

a.red_button {
		display: block;

		/*margin: 0 0 0 30px;*/
		padding: 5px 9px 7px 9px;

		width: 200px;

		background: #933;
		border: 1px solid black;

		color: #fff;

		font-weight: bold;
		font-size: 125%;
		text-align: center;
		text-decoration: none;
	}

#content #savecart {
	margin: 15px 0 5px;

	color: #999;

	font-size: 85%;
	text-align: right;
}

	#content #savecart.changed {
		color: #ffc;
	}

		#content #savecart.changed .buttonlink  {
			border: 1px solid #cc6;
			background: #660;
			color: #fff;
		}

	#content #savecart .buttonlink {
		margin-right: 0;
	}


	a.red_button:hover,
	a.red_button:active {
		background: #fcc;
		color: #c33;
	}

	/* red button arrow hangs out on the right side by defauls, unless .left */
	a.red_button .arrow {
		position: relative;
		float: right;
	}

	a.red_button .arrow.left {
		float: left;
	}

#content #itemlist {
	margin: 0;
	padding: 0;
}

	#content #itemlist .item {
		/* Wrapper around every item in the cart */
		margin: 5px 0;
		padding: 10px 0;

		position: relative;

		border-bottom: 1px solid #333;

		min-height: 5.5em;
	}

	#content #itemlist .item.limbo, #content #itemlist .item.deleted {
		/* being modified/deleted/whatever */
		opacity: .6; /* hackity hack. TODO: better solution. */
	}

	#content #itemlist .item.deleted table {
		display: none; /* hide the table for deleted elements */
	}

	#content #itemlist .item.limbo .buttonlink, #content #itemlist .item.deleted .buttonlink {
		background: #333 !important;
		color: #ccc !important;
	}

		#content #itemlist #listheader {
			/* Item list header */
			background: #333;

			min-height: 2em;

			font-weight: bold;
		}

			#content #itemlist #listheader #errormessage {
				/* error message shown when the cart could not be saved */
				display: none;

				margin: 0;
				padding: 3px 6px;

				position: absolute;

				top: 11px;
				left: 18px;
				bottom: 11px;

				color: #fff;
				border: 1px solid #f99;
				background: #933;
			}

			#content #itemlist #listheader .column {
				height: 2em;
			}

		#content #itemlist .item .column {
			/* Shared properties for (almost) all columns */
			display: table;
			margin: 0;
			padding: 0;

			position: absolute;

			height: 5.5em;
		}

		#content #itemlist .item .centerwrapper {
			/* Generic wrapper to vertically center content in a column */
			display: table-cell;
			vertical-align: middle;

			position: relative;
		}

			#content #itemlist .item .centerwrapper p {
				margin: 0;
			}

		#content #itemlist .item .col0 {
			/* The first column; shows when an item was added, and has a Remove button */
			display: block;

			top: 10px;
			left: 0;
			bottom: 10px;

			width: 85px;
			height: auto;

			color: #ccc;
			text-align: right;
		}

			#content #itemlist .item .col0 p {
				margin: 5px 0 0 0;
				padding: 0;

				font-size: 85%;
			}


			#content #itemlist .item .col0 .buttonlink {
				display: block;
				margin: 12px 0 0;

				width: 75px;

				/*

				position: absolute;

				right: 0;
				bottom: 0;
				left: 0;

				*/

				font-size: 85%;
			}

		#content #itemlist .item .maincol {
			/* The second column; contains a summary of the product */
			margin: 0 280px 0 100px;
			padding: 2px;

			position: static;

			color: #aaa;
		}

			#content #itemlist .item .maincol h2 {
				margin: 0 0 5px;
				padding: 0;

				color: #fff;

				font-size: 120%;
			}

			#content #itemlist .item .maincol table {
				margin: 0;
				padding: 0;

				width: 100%;

				border-collapse: collapse;
			}

				#content #itemlist .item .maincol table th {
					padding: 0 5px 0 0;
					vertical-align: top;
				}

				#content #itemlist .item .maincol table td {
					padding: 0;
					vertical-align: top;
				}

					#content #itemlist .item .maincol table td.price {
						white-space: nowrap;
					}

					#content #itemlist .item .maincol table td .color {
						cursor: help;
					}

		#content #itemlist .item .timecol {
			/* The third column; manufacture time */
			top: 10px;
			right: 240px;

			width: 110px;

			text-align: center;
		}

		#content #itemlist .item .pricecol {
			/* The fourth column; displays the price (total) */
			top: 10px;
			right: 160px;

			width: 65px;

			text-align: center;
		}

			#content #itemlist .item .pricecol p {
				font-size: 120%;
				font-weight: bold;
			}

		#content #itemlist .item .qtycol {
			/* The fifth column; shows the quantity */
			top: 10px;
			right: 85px;

			width: 65px;

			text-align: center;
		}
		#content #itemlist .item .linetotalcol {
			/* The sixth column; shows the total price after quantities */
			top: 10px;
			right: 10px;

			width: 65px;

			text-align: center;
		}
			#content #itemlist .item .linetotalcol p {
				font-size: 120%;
				font-weight: bold;
			}

			#content #itemlist .item .qtycol input {
				/* For editable quantities, display 'custom' textbox */
				padding: 1px;
				border: 1px inset #999;
				background: #333;
				color: #fff;
				text-align: center;
			}

				#content #itemlist .item .qtycol input.error {
					/* Erroneous input ? e.g. non-digits */
					border: 1px inset #c99;
					background: #933;
					color: #fff;
				}

				#content #itemlist .item .qtycol input.changed {
					border: 1px inset #cc6;
					background: #660;
					color: #fff;
				}

				#content #itemlist .item .qtycol input.saved {
					border: 1px inset #cc6;
					background:#390;
					color: #fff;
				}


		#content #itemlist #giftoptions {
			min-height: 0;
		}

			#content #itemlist #giftoptions .maincol {
				margin-right: 220px;

				color: #fff;
			}

				#content #itemlist #giftoptions .maincol p {
					margin: 5px 0;
				}

					#content #itemlist #giftoptions .maincol p.changed {
						background: #660;
					}

				#content #itemlist #giftoptions .maincol textarea {
					width: 100%;

					border: 1px inset #999;
					background: #333;
					color: #fff;
				}

					#content #itemlist #giftoptions .maincol textarea.changed {
						border: 1px inset #cc6;
						background: #660;
						color: #fff;
					}

				#content #itemlist #giftoptions .maincol #giftmessage {
					display: none;
				}

		#content #itemlist #discountinfo {
			padding-bottom: 0;
			min-height: 0;
			border-bottom: 0;
            min-height: 100px;
		}

			#content #itemlist #discountinfo .maincol {
				margin-right: 220px;
				color: #fff;
			}

				#content #itemlist #discountinfo .maincol p {
					margin: 5px 0 0;
				}

#content #emptycartmsg {
	margin: 35px 30px 15px;
}

	#content #emptycartmsg p.emphasis {
		margin-bottom: 30px;

		font-size: 125%;
		font-style: italic;
	}

#giftwrapbox {
	display: none;
	margin: 0;
	padding: 5px;

	position: absolute;
	top: 0;
	left: 0;

	background: #333;
	border: 1px solid #666;
}

	#giftwrapbox img {
		display: block;
		margin: 0 auto 5px;
	}

	#giftwrapbox p {
		margin-bottom: 0;
	}

#itemcolorswatch {
	margin: 0;
	padding: 5px;

	position: absolute;
	top: 0;
	left: 0;

	background: #333;
	border: 1px solid #666;
}

	#itemcolorswatch p {
		margin: 0;
		text-align: center;
	}

	#itemcolorswatch #swatchwrapper {
		margin: 5px auto 0;
		padding: 0;
	}

	#itemcolorswatch .swatch {
		margin: 0;
		padding: 0;
	}

		#itemcolorswatch .swatch a {
			display: block;

			margin: 0 auto;
			padding: 0;

			width: 50px;
			height: 50px;

			position: relative;
		}

			#itemcolorswatch .swatch a .fadestripe {
				position: absolute;

				/* top: determined by script */
				left: 0;

				width: 100%;
				height: 10%;
			}

			#itemcolorswatch .swatch a .fade {
				position: absolute;

				top: 0;
				left: 0;

				width: 100%;
				height: 80%;
			}

			#itemcolorswatch .swatch a .split-base {
				position: absolute;

				bottom: 0;
				left: 0;

				width: 100%;
				height: 20%;
			}

/*
	========================================
	CHECKOUT
	========================================
*/

#checkout_navigation {
    margin: 10px 0;
    padding: 20px;

	background: #933;
	border: 1px solid black;
	color: white;
}

#checkout_navigation p {
	padding: 0;
	margin: 0 0 5px;
	font-weight: bold;
}


#checkout_navigation span.here {
	font-weight: bold;
}



	#content a.continuebtn {
		display: block;

		margin: 0;
		padding: 7px 9px 9px 9px;

		width: 150px;

		position: relative;

		background: #933;
		border: 1px solid black;

		font-weight: bold;
		text-align: center;
		text-decoration: none;
	}

		#content a.continuebtn:hover,
		#content a.contunuebtn:active {
			background: #fcc;
		}

		#content a.continuebtn .arrow {
			position: absolute;

			top: 7px;
			right: 9px;
		}

		#content a.continuebtn.emphasis {
			font-size: 115%;
			font-weight: bold;
			width: 225px;
		}

	#content #addressbook {
		margin: 25px 0 35px;
		padding: 0 10px 10px;

		border-bottom: 1px solid #333;
	}

	#content #addressbook.checkout {
		display: none;
	}

	#content #addressbook h3 {
		margin: 0 -10px 10px;
		padding: 5px 15px 6px;

		font-size: 115%;

		background: #333;
	}

	#content #addressbook {
		margin: 0 -15px -15px;
		padding: 5px;

		/*overflow: auto;*/
	}

	#content #addressbook {
		margin: 0 15px 15px;
		padding: 1px;

	}

	#content #addressbook .selected {
		background-color: #242;

		margin: 0 10px 15px;
		padding: 1px 6px;
	}

	#content #addressbook a.buttonlink {
		display: block;
	}

	.address {
		display:inline-block;
		vertical-align:top;
		width:170px;
		height:202px;
		background-color:rgba(255,255,255,0.1);
		margin:0 6px 15px;
		padding: 5px;
		font-size: 90%;
		position:relative;
	}

	.removebtn {
		bottom: 4px;
		position: absolute !important;
	}

	.add-address {
	}

	.add-address:hover {
		background-color:rgba(255,255,255,0.2);
		cursor: pointer;
	}


	#content .mandatory {
		color: #c33;

		font-weight: bold;
	}

	#content #newaddresstbl {
		margin: 20px 0;
		padding: 0;
	}

		#content #newaddresstbl tr.missing th,
		#content #newaddresstbl tr.missing td {
			background: #441a1a;
		}

		#content #newaddresstbl tr.missing2 th,
		#content #newaddresstbl tr.missing2 td {
			background: #661a1a;
		}

		#content #newaddresstbl th {
			text-align: right;
		}

	#content #shipmethods {
		margin-top: -15px;
	}

		#content #shipmethods td,
		#content #shipmethods th {
			padding: 10px 12px;
		}

	#content #shippingsummary {
		margin-top: 20px;
		margin-bottom: 30px;

		width: 200px;
	}

		#content #shippingsummary #totalrow th {
			padding-top: 5px;
		}

	#content ul.optiongroup {
		margin: 20px 10px 20px 5px;
		padding: 0;

		list-style-type: none;
		list-style-image: none;
	}

		#content ul.optiongroup li {
			margin: 15px 0;
		}

			#content ul.narrow li {
				margin: 2px 0;
			}

			#content ul.optiongroup li input {
				margin-right: 10px;
			}

	#content #applyvouchers {
		display: block;

		margin: 5px 0;
		padding: 5px 5px;

		font-weight: bold;
        float: right;
	}

	#content #vouchermsg1,
	#content #vouchermsg2,
	#content #vouchererror {
		/* display: none; */

		margin: 0;
		padding: 3px;
        line-height: 150%;

		background: #1a441a;
	}

		#content #vouchermsg1.error,
		#content #vouchermsg2.error,
		#content #vouchererror {
			background: #441a1a;
		}

	#content #ordersummary {
		margin: 0;
		padding: 20px;

		position: absolute;

		top: 120px;
		right: 65px;

		width: 280px;

		background: #333;
	}

		#content #ordersummary h2 {
			margin: 0 5px 10px;
			padding: 0;

			color: #fff;
		}

		#content #ordersummary table {
			width: 100%;
		}

			#content #ordersummary table td {
				padding: 5px 7px;

				width: 50%;
			}

			#content #ordersummary table #discountsrow td {
				padding-top: 12px;
				padding-bottom: 10px;
			}

				#content #ordersummary table #discountsrow.disabled td {
					color: #aaa;
				}

			#content #ordersummary table #totalrow td {
				padding-top: 10px;
				padding-bottom: 12px;

				font-size: 115%;
				font-weight: bold;
			}

		#content #ordersummary .continuebtn {
			width: auto;
		}

	#content #newbillingaddr {
		display: none;

		margin: 25px 0 10px;
		padding: 0 10px 10px;

		border-bottom: 1px solid #333;
	}

		#content #newbillingaddr h3 {
			margin: 0 -10px 5px;
			padding: 5px 15px 6px;

			font-size: 115%;

			background: #333;
		}

		#content #newbillingaddr p {
			margin: 10px 0 5px;
		}

		#content #newbillingaddr #newaddresstbl {
			margin-bottom: 0;
			margin-top: 0;
		}

	#content #cardinfotbl {
		margin: 10px 0 20px;
		padding: 0;
	}

		#content #cardinfotbl tr.missing th,
		#content #cardinfotbl tr.missing td {
			background: #441a1a;
		}

		#content #cardinfotbl tr.missing2 th,
		#content #cardinfotbl tr.missing2 td {
			background: #661a1a;
		}

		#content #cardinfotbl th {
			text-align: right;
		}


		#content #cardinfotbl #cardcvvmsg {
		font-size: 80%;
		}

#content #backlink {
	margin: 0;
	font-size: 12px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.spacer {
	height: 20px;

}

#content #backlink p {
	margin: 0;
	padding: 0;
}

#content #backlink p a {
	display: block;

	padding: 7px 11px 9px 9px;

	background: #933;
	border: 1px solid black;

	text-decoration: none;
}

	#content #backlink p a:hover,
	#content #backlink p a:active {
	background: #fcc;
}

.clear {
	clear: both;
}

.no_margin {
	margin: 0 !important;
}

.no_padding {
	padding: 0 !important;
}


#applyvouchers {
	display: inline-block;
	padding: 2px 6px 3px 6px;
	color: #ccc;
	background: #333;
	border: 1px solid black;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	cursor: pointer;
}
#applyvouchers:hover,
#applyvouchers:active {
	color: #1a1a1a;
	background: #ccc;
}
#applyvouchers.changed
{
	border: 1px solid #cc6;
	background: #660;
	color: #fff;
}

 .disabled {
    color: #AAA;
    text-decoration: line-through;
}

.multilevel{}
.multilevel ul{
	list-style-type: none;
    margin: 0 10px;
    padding: 0;
}
.multilevel ul.not_in_branch{
	display: none;
}
.multilevel li.selected > a{
	color: red;
}

.multilevel li{
	margin-bottom: 5px !important;
}
.multilevel.level1{}
.multilevel .level2{
	font-size: 12px;
	margin-bottom: 10px;
    margin-top: 5px;
}
.multilevel .level3{
	font-size: 10px;
	margin-bottom: 10px;
    margin-top: 5px;
}

a.reviewbutton {
	display:inline-block;
	padding: 3px;
	color:#000;
	text-decoration:none;
	border-radius:5px;
	border:2px solid #333;

	background: #cccccc;
	background: -moz-linear-gradient(top, #cccccc 0%, #666666 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#666666));
	background: -webkit-linear-gradient(top, #cccccc 0%,#666666 100%);
	background: -o-linear-gradient(top, #cccccc 0%,#666666 100%);
	background: -ms-linear-gradient(top, #cccccc 0%,#666666 100%);
	background: linear-gradient(top, #cccccc 0%,#666666 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#666666',GradientType=0 );
}

#content table.review {
	background-color:#333;
	border:1px solid #000000;
	display:inline-block;
	padding:0px;
	margin:5px;
	border-radius:3px;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3);
}

#content table.review td {
	padding:8px;
	text-align:center;

}
#content table.review thead tr {
	border-bottom:1px solid #000;
}

#content table.review tbody tr:nth-child(even) {
	background-color:#404040;
}

#reviewable {
	border:1px solid #000;
	padding:2px;
	background-color:#222;
}

#content #reviewable thead th {
	border-right:1px solid #000;
}


#content #reviewable thead tr {
	border-bottom:1px solid #000;
}

#content #reviewable tbody tr:nth-child(even) {
	background-color:#2a2a2a;
}

#content #reviewable td {
	text-align:center;
	padding:10px;
}



.stars {
	background-color:#292929;
	padding:5px;
	padding-top:10px;
	border:2px solid #333;

}

.stars .rating-description {

}


label.counter-label, span.word-counter {
	margin-left:5px;
	font-size:.9em;
}

#content ol li {
    margin-bottom: 5px;

}
#content ul li {
    margin-bottom: 5px;

}

.print-thumbnail {
    max-width: 100px;
    max-height: 100px;
}
.oldprice {
		text-decoration: line-through;
}
.newprice {
		font-weight: bold;
}
