.product-link {
	cursor: pointer;
	text-decoration: underline;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sorter {
  color: #cdcdcd;
}

.sorter .fa {
  color: #fff;
}

#spinner {
	z-index: 1001;
	width: 100%;
	position: fixed;
}

.filters {
  position: fixed;
  top: 50px;
  bottom: 50px;
  left: 25px;
  margin: auto;
}


.filter {
    margin-top: 1em;
    color: #fff;
}

.reset-all {
  width: 160px;
  border: 2px solid #fff;
  padding: 0.25em;

  text-align: center;
}

.reset-all:hover {
  background: #933;
}

.reset-all, .filter-button  {
  cursor: pointer;
  font-size: 110%;
  font-weight: bold;
}

.slider {
  transition: all 0.5s ease-in-out;
}

.filter-list {
  padding: 1em;
  list-style-type: none;
  margin: 0;
}

.filter-list li {
  margin: 0.25em 0;
}

/* Super awesome thanks to http://tobiasahlin.com/spinkit/ */
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 2s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 2s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}